@tailwind base;
@tailwind components;
@tailwind utilities;

.table-body tr:hover {
  @apply bg-bgHover text-gray-200;
}
/* css react responsive pagination */
body {
  @apply h-screen w-full;
  background-color: #272743;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.text-shadown {
  color: #ebe9e2;
  font-family: Arial Black, Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(230, 228, 221), 1px 1px 0 rgb(226, 224, 217),
    2px 2px 0 rgb(221, 219, 212), 3px 3px 0 rgb(217, 215, 208),
    4px 4px 0 rgb(212, 210, 203), 5px 5px 0 rgb(207, 205, 198),
    6px 6px 0 rgb(203, 201, 194), 7px 7px 0 rgb(198, 196, 189),
    8px 8px 0 rgb(194, 192, 185), 9px 9px 0 rgb(189, 187, 180),
    10px 10px 0 rgb(184, 182, 175), 11px 11px 10px rgba(0, 0, 0, 0.34),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.page-item .page-link {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.page-item a.page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #139dba;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}

.scroll {
  /* width: 240px;
  height: 200px; */
  overflow-y: scroll;
  /* background-color: #f6f6f6; */

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }
}

.scroll:hover {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    /* background-color: #111827; */
    background-color: #606577;
  }
  &::-webkit-scrollbar-track {
    /* background-color: red;*/
    background-color: transparent;
  }
}

/* @media (hover: none) {
  .scroll {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
} */

.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(black 0 0);
  --r1: radial-gradient(farthest-side at bottom, black 93%, #0000);
  --r2: radial-gradient(farthest-side at top, black 93%, #0000);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}

@keyframes l2 {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px),
      100% calc(100% + 2px);
  }
}
