version: "3.8"
services:
  mysql:
    image: mysql:oracle
    ports:
      - 3307:3306
    environment: 
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=ecommerce
  app:
    build: .
    volumes:
      - .:/app
    depends_on:
      - mysql
    links:
      - mysql
    ports:
      - 3100:3200
